{% extends 'base.html.twig' %}

{% block title %}Edit Plaga{% endblock %}

{% block body %}
    <h1>Edit Plaga</h1>

    {{ include('plaga/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('plaga_index') }}">back to list</a>

    {{ include('plaga/_delete_form.html.twig') }}
{% endblock %}
