{% extends 'base.html.twig' %}

{% block title %}New Plaga{% endblock %}

{% block body %}
    <h1>Create new Plaga</h1>

    {{ include('plaga/_form.html.twig') }}

    <a href="{{ path('plaga_index') }}">back to list</a>
{% endblock %}
