{% extends 'base.html.twig' %}
{% block stylesheets %}
     {{ encore_entry_link_tags('telefono') }}
{% endblock %}
{% block title %}Editar teféfono{% endblock %}

{% block body %}
    <h1>Editar teléfono</h1>

    {{ include('telefono/_form.html.twig', {'button_label': 'Actualizar'}) }}

    {{ include('telefono/_delete_form.html.twig') }}

    <a class="volver" href="{{ path('telefono_index') }}"><i class="fas fa-arrow-circle-left"></i> Volver a la lista de teléfonos</a>

{% endblock %}
