{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('telefono') }}
{% endblock %}
{% block title %}Añadir teléfono{% endblock %}

{% block body %}
    <h1>Añadir teléfono</h1>

    {{ include('telefono/_form.html.twig') }}

    <a class="volver" href="{{ path('telefono_index') }}"> <i class="fas fa-arrow-circle-left"></i> Volver a la lista de teléfonos </a>
{% endblock %}
