{% extends 'base.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/telefono.css') }}">
{% endblock %}
{% block title %}Añadir teléfono{% endblock %}

{% block body %}
    <h1>Añadir teléfono</h1>

    {{ include('telefono/_form.html.twig') }}

    <a href="{{ path('telefono_index') }}">back to list</a>
{% endblock %}
