<div class="row justify-content-md-center welcome-card">
    <div class="col-md-8">          
        <div class="card bg-light">
          <div class="card-header">
            Bienvenido a {{ brand_name }}
          </div>
          <div class="card-body">
            <h5 class="card-title">Aún no has subido ninguna consulta y/o incidencia.</h5>
            <ol>
                <li>Los vecinos pueden subir cualquier tipo de <strong>incidencia o participación</strong>, adjuntando una foto y una pequeña descripción.</li>
                <li>También se puede subir una <strong>encuesta o consulta</strong> para que los vecinos puedan votar a favor o en contra y ver los resultados después.</li>
            </ol>
            <p class="card-text"><strong>Es muy sencillo.</strong></p>
            <a class="btn btn-primary float-right" href="#" >Crear consulta</a>
            <a class="btn btn-primary float-right" href="#" >Crear participación</a>
          </div>
        </div>    
    </div>
</div>    