{% extends 'base.html.twig' %}

{% block title %}Explotacion index{% endblock %}

{% block body %}

<div class="container-fluid contenedor">

    {% include('inicio/_panel_explotacion_without.html.twig') %}
  
</div>

{% endblock %}
