{% extends 'base.html.twig' %}

{% block title %}Vecino{% endblock %}

{% block body %}

<div class="container-fluid contenedor">
  <div class="card-group">
    <div class="col-md-3">
        <div class="card border-danger mb-3" style="max-width: 18rem;">
  			<div class="card-header">Eventos</div>
  			    <section class="py-5 bg-image-full" style="background-image: url('https://cdn.pixabay.com/photo/2018/05/31/12/02/celebration-3443810__340.jpg');"></section>
				  <div class="card-body text-primary">
				    <h4 class="card-title">Que hacemos hoy</h4>
				    <p class="card-text"></p>
				  </div>
			
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-danger mb-3" style="max-width: 18rem;">
  			<div class="card-header">Incidencias</div>
  			    <section class="py-5 bg-image-full" style="background-image: url('https://img.culturacolectiva.com/featured/2017/07/53006869-969d-4e6e-91cf-8d49e24200ba-high.jpg');"></section>
				  <div class="card-body text-primary">
				    <h4 class="card-title">Describe tu incidencia</h4>
				    <p class="card-text"></p>
				  </div>
			
        </div>
    </div>
    <div class="col-md-3">
  	    <div class="card border-success mb-3" style="max-width: 18rem;">
  			<div class="card-header">Salud</div>
  				<section class="py-5 bg-image-full" style="background-image: url('http://politecnicocartagena.es/wp-content/uploads/2018/07/salud-port.jpg');"></section>
				  <div class="card-body text-primary">
				    <h4 class="card-title">Cuidate</h4>
				    <p class="card-text"></p>
				  </div>
        </div>
    </div>
    <div class="col-md-3">
  	    <div class="card border-warning mb-3" style="max-width: 18rem;">
  			<div class="card-header">Opina</div>
  			    <section class="py-5 bg-image-full" style="background-image: url('http://politecnicocartagena.es/wp-content/uploads/2018/07/saloud-2.jpg');"></section>
				  <div class="card-body text-primary">
				    <h4 class="card-title">Describe tu incidencia</h4>
				    <p class="card-text"></p>
				  </div>
			
        </div>
    </div>
  </div>
</div>
{% endblock %}
