{% extends 'base.html.twig' %}

{% block title %}Edit Variedad{% endblock %}

{% block body %}
    <h1>Edit Variedad</h1>

    {{ include('variedad/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('variedad_index') }}">back to list</a>

    {{ include('variedad/_delete_form.html.twig') }}
{% endblock %}
