<form method="post" action="{{ path('sigpac_uso_delete', {'id': sigpac_uso.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sigpac_uso.id) }}">
    <button class="btn">Delete</button>
</form>
