{% extends 'base.html.twig' %}

{% block title %}Edit SigpacUso{% endblock %}

{% block body %}
    <h1>Edit SigpacUso</h1>

    {{ include('sigpac_uso/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sigpac_uso_index') }}">back to list</a>

    {{ include('sigpac_uso/_delete_form.html.twig') }}
{% endblock %}
