{% extends 'base.html.twig' %}

{% block title %}New SigpacUso{% endblock %}

{% block body %}
    <h1>Create new SigpacUso</h1>

    {{ include('sigpac_uso/_form.html.twig') }}

    <a href="{{ path('sigpac_uso_index') }}">back to list</a>
{% endblock %}
