{% extends 'base.html.twig' %}

{% block title %}New Tratamiento{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		    <h1>Nuevo tratamiento</h1>
		    {{ include('tratamiento/_form.html.twig') }}
		</div>
	</div>
</div>

    <a href="{{ path('tratamiento_index') }}">back to list</a>
{% endblock %}
