{% extends 'base.html.twig' %}

{% block title %}Editor consulta{% endblock %}

{% block stylesheets %}
   {{ encore_entry_link_tags('opina') }}
            
{% endblock %}

{% block body %}    

    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-12">
            <h3 id="editarpregunta"><i class="far fa-edit"></i> Editor de consulta</h3>
            {{ include('opina/_form.html.twig', {'button_label': 'Update'}) }}
            <a id="volver" href="{{ path('opina_index') }}"><i class="fas fa-arrow-circle-left"></i> Volver a las opiniones</a>
            <hr>
            {{ include('opina/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
