{% extends 'base.html.twig' %}

{% block title %}New Agrupacion{% endblock %}

{% block body %}

<div class="container-fluid contenedor">
	<div class="row">
		<div class="col-md-12">
		 	<h1>Crear agrupación</h1>
		</div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-md-6">
		    {{ include('agrupacion/_form.html.twig') }}
		</div>
	</div>
</div>

    <a href="{{ path('agrupacion_index') }}">back to list</a>
{% endblock %}
