@import '~bootstrap/dist/css/bootstrap.min.css';



.card{
	height: 100%;
}
.card .card-img-top{

	width: 418px;
	height: 300px;
}

.iconos_evento{
	margin-top: 20px;
	margin-left: 100px;
}
#eventoicon{
	color: #cacbcc;
	font-size: 30px;	
}
#eventoicon:hover{
	color: #8c8f94;
}
.container .botonesedit{
	margin-left: 81%;
}

.container .botonesedit .dos{
	margin-top: 4px;
}
.btn:hover{
	background-color: #c2c4c3;
}

a:hover{
	color: #2956b2;
	text-decoration: none;

}


#fecha{
	text-align: right;
	
}
