/* container */
#incidencias{
   margin-top: 2%;
}

/* sección global */
#incidencias > section{
   
   margin-left: 40px;
   margin-right: 40px;
   margin-bottom: 20px;
   
}

/* cards */
#incidencias > section > #incidencias-cards{
   padding: 20px;
}

#incidencias-cards > a {
   text-decoration: none;
   color: black;
   margin: 0 auto;
}
#incidencias-cards > a:hover{
   -ms-transform: scale(1.10); /* IE 9 */
   -webkit-transform: scale(1.10); /* Safari 3-8 */
   transform: scale(1.10); 
}



/*--- Fin Lista Incidencias ---*/


/*--- Incidencia show ---*/

#incidencia-vista > div.row {
   border: 1px solid #808b96;
}

#incidencia-vista > div.row > div.col-4, div.col-7{
   margin-top: 20px;
   margin-bottom: 20px;
}

#incidencia-vista > div.row > div.col-7 > div.card{
   margin-left: 50px;
   padding-bottom: 40px;
}

#incidencia-vista > div.row > div.col-7 > div.card > div.card-body{
   text-align: center;
   margin-top: 5px;
   
}

#incidencia-vista > div.row > div.col-4 > img.img-fluid{
   margin-left: 50px;
   border: 1px solid rgba(0,0,0,.125)
}


















   



