@import '~bootstrap/dist/css/bootstrap.min.css';

/* index */
.index_opinion{
	padding-top: 40px;
}

.index_opinion .col-md-12 .row .col-md-6:last-child #nuevaopinion {
	padding-left: 50%;
}

#pregunta span{
	font-size: 18px;
	color: #01254f ;
}

.card_opina{
	padding-bottom: 80px;
}

#fecha{
	text-align: right;
	color: #98999a;
	font-size: 12px;
	padding-bottom: 10px;
}

#editarpregunta{
	padding-top: 40px;
}


#opina .card-text p{
	height: 100px;
}

#opina > .card > p {
	width: 100%;
}

.container .col-md-12 h3#editarpregunta, h1{
	color: #98999a;
	
}



/* Color para eventos
color: #01254f; */


.progress .far{

	margin-right: 5px;
}

#opina .progress{
	font-size: 10px;
}

#opina .progress .far{
	height: 5px
}


#opina .fa-thumbs-up{
	color: green;
}

#opina .fa-thumbs-down{
	color: red;
}


#mostrar > tbody > tr:nth-child(1) > th{
	color: green;
}

#mostrar > tbody > tr:nth-child(1) > td{
	color: green;
}

#mostrar > tbody > tr:nth-child(2) > th{
	color:red;
}

#mostrar > tbody > tr:nth-child(2) > td{
	color:red;
}

#opina .card-body{
	height : 355px;
}



#editarpregunta, #volver, #editar, #new a, #new h1, #nuevaopinion{

	margin-left: 20px;
	color: #01254f;
	font-weight: bold;
}

