/* INDEX */
.container-fluid .row .col-sm-4 .h-100 .card-body .card-title{
	font-weight: bold;
}

.imgtodas{
	height: 250px; 
	width: 397px;
} 
.texto_card{
	text-align: justify;
	font-size: 14px;
}

h1.salud {
	margin-top: 20px;
	color: #069c03;	
}

.salud1:hover, .salud3:hover{
	color: #069c03;
	text-decoration: none;	
}

.salud1, .salud3{
	color: black;
}

.final{
	text-align: right;
	color: #98999a;
	font-size: 0.7em;
	letter-spacing: 0.2em;
}

#nuevosalud{
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 78%;
}


/* SHOW */
.salud2, img.saludimg{
	margin-top: 40px;
}

.salud2{
	color: #069c03;
}

.salud4{
	text-align: justify;
}

.col-md-3 img{
	margin-bottom: 20px;
	margin-top: 30px;
}

.container-fluid .row .col-sm-4 .card{
	height: 100%;
}

.saludicon, .saludicon3{
	color: #cacbcc;
	font-size: 25px;
}

.saludicon:hover, .saludicon3:hover{
	color: #8c8f94;
}


.saludicon4{
	margin-left: 95%;
}


/* EDIT */

.contenedor_edit{
	padding-top: 30px;
}

.contenedor_edit .row .col-sm-3 .card-img-top{
	padding-bottom: 20px;
}


/*DELETE y FORMTYPE*/
#btnsalud:hover, .saludbtn:hover{
	background-color: #c2c4c3;	
}


/* NUEVA NOTICIA */
.contenedor .texto_nuevo > .col-md-6 h4{
	color: #44445b;
}

.contenedor .texto_nuevo > .col-md-6:first-child p, .contenedor .texto_nuevo > .col-md-6:first-child li{
	color: #6c7272;
	text-align: justify;
}

.titulo_edit{
	color: #6c7272;
	margin-bottom: 20px;
	margin-top: 20px;
}


