@import '~bootstrap/dist/css/bootstrap.min.css';


h1{
	margin-top: 10px;
}

.row{
	margin-left: 5px;
}


.img-rounded{
    border-radius:180px;
    border:5px solid #e6f3ff;
}

#boton, #new_telefono{
	background-color: #b3daff;
	border-color: #b3daff;
	color:black;
}

#boton:hover{
	background-color: #e6f3ff;
	color: black;
	border-color: #b3daff;
}

tr{
	font-size: 17px;
}

#linea{
	border-left: #dee2e6 solid 1px;
}

.card{
	border:none;
}

#eliminar{
	background-color: #ff9980;
	border-color: #ff3300;
}

#eliminar:hover{
	background-color: #ffd6cc;
	border-color: #ff3300;
}

#atras:hover{
	text-decoration: none;
}
div table a {
    color: black;
}