@import '~bootstrap/dist/css/bootstrap.min.css';

h1{
	font-weight: bold;
	margin: 30px;
    text-align: center;
    color: #01254f;
}

div#vecinos{
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

div#vecinos .card {
    border: none;
}

div#vecinos .card > div {
    padding: 15px;
}

div#vecinos .card > div > img {
    border-radius: 100px;
    width: 150px;
    height: 150px;
}

div#vecinos .card > div > h5{
    color: black;
    text-align: center;
}

div#vecinos .card:hover{
    border: 1px solid #01254f;
    border-radius: 20px;
}
