{% extends 'base.html.twig' %}

{% block title %}Incidencia new{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('incidenciacss') }}
{% endblock %}

{% block body %}
    <h1>Create new Incidencia</h1>

    {{ include('incidencia/_form.html.twig') }}

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('incidenciajs') }}  
{% endblock %}
