{% extends 'base.html.twig' %}

{% block title %}Incidencia new{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/incidenciacss.css') }}">
{% endblock %}

{% block body %}
    <h1>Create new Incidencia</h1>

    {{ include('incidencia/_form.html.twig') }}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/incidenciajs.js') }}"></script>  
{% endblock %}
