{% extends 'base.html.twig' %}
{% block stylesheets %}

<link rel="stylesheet" href="{{asset('build/evento.css')}}">

{% endblock %}

{% block title %}Edit Eventos{% endblock %}

{% block body %}
    <h1>Edit Eventos</h1>

    <div class="container container-fluid"> 

        <div class="row">
            <div class="col-sm-3">
                <img class="card-img-top" src="{{ asset(ruta_imagenes ~ evento.imagen.nombre) }}" alt="Card image cap">
            </div> 
        </div>	
        <div class="row botonesedit">
         <div class="col uno">
          {{ include('evento/_form.html.twig') }} 
         </div>  
         <div class="col dos">  
          {{ include('evento/_delete_form.html.twig') }} 
         </div> 
        </div>  	 
     </div>
</div>
{% endblock %}
