{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/user.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">

                    {{ include('user/_form.html.twig') }}       
                    {{ include('user/_delete_form.html.twig') }}
                        <br>
                        <br>
                        <a id="atras" href="{{ path('user_show', {'id': user.id}) }}"><i class="far fa-arrow-alt-circle-left"></i> Volver al perfil</a>

                </div>
                <div class="col-md-2">
                </div>
            </div>
    </div>
{% endblock %}

{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<script type="text/javascript">

    $('#vecino_fichero').on('change',function (e) {
        $(this).next('.custom-file-label').html(e.target.files[0].name);
    });

	</script>

{% endblock %}

