{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">

                    {{ include('user/_form.html.twig') }}       
                        <br>
                        <br>
                        <a id="atras" href="{{ path('user_show', {'id': user.id}) }}"><i class="far fa-arrow-alt-circle-left"></i> Volver al perfil</a>

                </div>
                <div class="col-md-2">
                </div>
            </div>
    </div>

{% endblock %}

{% block javascripts %}
	
 {{ encore_entry_script_tags('userjs') }}
{% endblock %}

