	<div class="row" id="footer">
			<div class ="col">					
					<ol>
						<h5> Smarquercus </h5>
						<img src="https://files.slack.com/files-pri/T9N3VTHUN-FEEEQT7S5/smart_quercus__4_.png" width="40%"heigth="30%">
					</ol>
						
			</div>
			<div class ="col">
				
					
					<ol>
						<h5> Conócenos </h5>
						 <a href="{{ path('user_registration') }}">Registro</a><br/>
						 <a href="{{ path('login') }}">Login</a>
					</ol>
						
			</div>
			<div class ="col">
				
					
					<ol>
						<h5> Siguenos </h5>
							<a href=""><i class="fab fa-facebook-f"></i>  Facebook</a> <br>
							<a href=""><i class="fab fa-twitter"></i>  Twitter</a><br>
							<a href=""><i class="fab fa-instagram"></i>  Instagram</a> <br>
					</ol>
						
			</div>
			<div class ="col">
				
					
					<ol>
						<h5> Enlace de interes</h5>
					<a href="">Blog</a>
						

					</ol>							
			</div>
	</div>
	
		