<h1 style="color:black">Administrador</h1>
<p class="lead">Conoce tu pueblo</p>
<p>Los vecinos y turista podrán conocer todas las actividades de la localidad y al mismo tiempo comunicar cualquier incidencia o desperfecto que observen</p>	