<h1 style="color:black">Vecino</h1>
<p class="lead">Conéctate</p>
<p>Con esta aplicación los vecinos pueden interactuar y colaborar con el Ayuntamiento, avisando de incidencias que hayan podido detectar en el mobiliario urbano, en el pavimento, alcantarillado, en la jardinería o la limpieza...Y estar al día de lo que ocurre en tu localidad (últimas noticias, recomendaciones de salud,deportes, eventos,...). </p>	