<h1>Acércate a tu pueblo</h1>
<p class="lead">Interactúa con tu Ayuntamiento</p>
<p>El Ayuntamiento tiene en marcha una aplicación para el teléfono y otros dispositivos móviles facilitando el acceso a los vecinos a información relevante de la localidad. Al mismo tiempo esta aplicación gratuita sirve para que los ciudadanos comuniquen al consistorio las incidencias detectadas en el municipio.</p>	