{% extends 'base.html.twig' %}

{% block title %}New Localidad{% endblock %}

{% block body %}
    <h1>Create new Localidad</h1>

    {{ include('localidad/_form.html.twig') }}

    <a href="{{ path('localidad_index') }}">back to list</a>
{% endblock %}
