<form method="post" action="{{ path('salud_delete', {'id': salud.id}) }}" onsubmit="return confirm('¿Estás seguro que quieres borrar?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salud.id) }}">
    <button class="btn" id="btnsalud"><i class="fas fa-trash-alt"></i></button>
</form>
