{% extends 'base.html.twig' %}

{% block title %}Nuevo Artículo{% endblock %}

{% block body %}
<div class="container-fluid contenedor">
	<h3></h3>		
	<div class="row">
		<div class="col-md-6">
		    
		</div>
		<div class="col-md-6">			
		    {{ include('salud/_form.html.twig') }}
		</div>
	</div>
</div>

    <a href="{{ path('tratamiento_index') }}">Lista</a>
{% endblock %}